{% for category in __SELF__.categories %}
  <div class="product-category icon-box">
	<figure>
		{% if category.iconable %}
			<svg width="{{category.iconable.width}}" height="{{category.iconable.height}}" viewBox="{{ category.iconable.viewport }}"><use xlink:href='#{{category.iconable.symbol}}'></use></svg>
		{% endif %}
	</figure>
	<div class="content">
		<h3 class="content-title"><a href="{{ category.url }}">{{category.name}}</a></h3>
		<p class="product-short-description">{{category.short_description|raw}}</p>
	</div>
</div>
{% endfor %}